body {
  background-color: bisque;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 20px;
  margin: auto;
}
img {
  border-radius: 10%;
}
hr {
  border: 0;
  height: 2px;
  background-color: black;
}
